/* details scss*/
.col{
	//display: inline-flex;
}

.dImg {
	width: 30%;
	float: left;
	//flex-direction: row;
	
	
	
	img{
		width: 100%;
	}
}


.dRow{
	width: 45%;
	margin-left: 1.5em;
	//flex-direction: row;
	float: right;
	
	h1{
		font-size: 1.5em;
		font-weight: $heavy;
		color: $lightC;
	}
	h3{
		font-size: 1.1em;
		letter-spacing: .1em;
	}
	p{
		line-height: 2em;
	}
	
	
	
}

h2{
	font-size: 1.3em;
	border-bottom: 1px solid $lightC;
	padding: 1.5em;
}
.rate{
		width: 30px;
		float: left;
		padding: 1em;
	label{
	input{
	
		padding: 1em;
		

	}
			img{
			width: 100%;
			
		}
		
		input:checked + img{
		border: 1px solid $lightC;
	}
	
	} // end of label
}// end of .rate

form{
	textarea{
		width: 97%;
		height: 150px;
		overflow: hidden;
	}
}
.cSubmit{
	margin-top: 1.2em;
	width: 25%;
	color: $darkC;
	padding: 1em;
	background: white;
	border: 1px solid $darkC;
	font-size: 1.2em;
}

.cSubmit:hover{
	background: $darkC;
	color: $whiteC;
}