/* CSS Document */

.results{
	
	img{
		float: left;
		width: 95px;
		padding: 1.2em;
	}
	
	.descrip{
		padding: 1em;
		
	}
}
.searchResults{
	color: #444;
	line-height: 1.6em;
}
.searchStyle{
	font-weight: $heavy;
	color: #3A2401;
}