/* CSS Document */
/* CSS Document */
/* PAGES */
.container {
  width: 80%;
  margin: 4em auto; }
  .container .row {
    float: left;
    width: 150px;
    height: 450px;
    margin: 1.6em;
    display: inline-block; }
    .container .row figcaption {
      height: 63px; }
    .container .row img {
      width: 100%;
      box-shadow: 4px 5px 20px -2px #eee; }
    .container .row h1 {
      font-size: 1.4em;
      text-align: center;
      width: 100%; }
    .container .row p {
      text-align: center;
      font-style: italic;
      width: 100%; }
    .container .row .detail {
      height: 150px;
      margin-top: 3.4em;
      width: 100%;
      text-align: center; }
      .container .row .detail a {
        margin-top: 1.5em;
        text-decoration: none;
        color: #728780;
        padding: .6em;
        border: 1px solid #728780;
        width: 90%;
        margin: auto; }
      .container .row .detail a:hover {
        background-color: #728780;
        color: #E3D4B7; }

/* STYLING THE BODY */
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400; }

header {
  background-color: #C2CFBD;
  width: 100%;
  display: flex; }
  header a {
    text-decoration: none;
    color: #728780;
    font-weight: 800; }
    header a img {
      flex-direction: row; }
    header a h1 {
      font-size: 3em;
      text-align: center;
      flex-direction: row;
      text-decoration: none; }

.welcome {
  float: right; }
  .welcome a {
    text-decoration: none;
    font-weight: 800;
    color: #728780;
    padding: .5em; }

form {
  width: 45%; }
  form input.box, form fieldset label select.box, fieldset label form select.box {
    width: 30;
    color: #728780;
    padding: .7em; }
  form input.search, form fieldset label select.search, fieldset label form select.search {
    padding: 1.2em;
    color: #728780;
    background: none;
    border: none;
    transition: all .1s ease-in-out; }
  form .search:hover {
    letter-spacing: .04em;
    color: #695E66; }

/* details scss*/
.dImg {
  width: 30%;
  float: left; }
  .dImg img {
    width: 100%; }

.dRow {
  width: 45%;
  margin-left: 1.5em;
  float: right; }
  .dRow h1 {
    font-size: 1.5em;
    font-weight: 800;
    color: #C2CFBD; }
  .dRow h3 {
    font-size: 1.1em;
    letter-spacing: .1em; }
  .dRow p {
    line-height: 2em; }

h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #C2CFBD;
  padding: 1.5em; }

.rate {
  width: 30px;
  float: left;
  padding: 1em; }
  .rate label input, .rate fieldset label select, fieldset .rate label select {
    padding: 1em; }
  .rate label img {
    width: 100%; }
  .rate label input:checked + img, .rate fieldset label select:checked + img, fieldset .rate label select:checked + img {
    border: 1px solid #C2CFBD; }

form textarea {
  width: 97%;
  height: 150px;
  overflow: hidden; }

.cSubmit {
  margin-top: 1.2em;
  width: 25%;
  color: #728780;
  padding: 1em;
  background: white;
  border: 1px solid #728780;
  font-size: 1.2em; }

.cSubmit:hover {
  background: #728780;
  color: #E3D4B7; }

/* ADD AND EDIT PAGE */
form {
  width: 100%; }

fieldset {
  width: 80%;
  margin: auto; }
  fieldset legend {
    font-size: 1.4em;
    color: #C2CFBD;
    font-weight: 800;
    padding: 1em 0;
    letter-spacing: .1em; }
  fieldset label {
    font-size: 1.2em;
    color: #C2CFBD;
    padding: 1em 0; }
    fieldset label input, fieldset label select, fieldset label textarea {
      padding: .5em;
      margin: .3em 0 2.5em 0;
      width: 100%;
      font-size: 1.05em;
      color: #888; }
    fieldset label select {
      width: 50%; }
    fieldset label textarea {
      height: 200px;
      font-family: "Nunito Sans", sans-serif;
      font-size: .91em; }

.submitbtn {
  width: 20%;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #C2CFBD;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 800;
  color: #C2CFBD; }

.submitbtn:hover {
  background-color: #C2CFBD;
  color: #E3D4B7; }

/* CSS Document */
.results img {
  float: left;
  width: 95px;
  padding: 1.2em; }
.results .descrip {
  padding: 1em; }

.searchResults {
  color: #444;
  line-height: 1.6em; }

.searchStyle {
  font-weight: 800;
  color: #3A2401; }

/* footer */
footer {
  margin-top: 6em;
  background-color: #C2CFBD; }
  footer p {
    color: #E3D4B7;
    text-align: center;
    padding: 2em; }

.clearFix {
  clear: both; }
