/* CSS Document */
/* CSS Document */
/* PAGES */
.container {
  width: 80%;
  margin: 4em auto; }
  .container .row {
    float: left;
    width: 150px;
    height: 450px;
    margin: 1.6em; }
    .container .row img {
      width: 100%;
      box-shadow: 4px 5px 20px -2px #eee; }
    .container .row h1 {
      font-size: 1.4em;
      text-align: center;
      width: 100%; }
    .container .row p {
      text-align: center;
      font-style: italic;
      width: 100%; }

/* STYLING THE BODY */
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400; }

header {
  background-color: #C2CFBD;
  width: 100%;
  display: flex; }
  header img {
    flex-direction: row; }
  header h1 {
    font-size: 3em;
    text-align: center;
    flex-direction: row; }

/* details scss*/
.col {
  display: flex; }

.dImg {
  width: 30%;
  flex-direction: row; }
  .dImg img {
    width: 100%; }

.dRow {
  width: 50%;
  margin-left: 1.5em;
  flex-direction: row; }
  .dRow h1 {
    font-size: 1.5em;
    font-weight: 800;
    color: #C2CFBD; }
  .dRow h3 {
    font-size: 1.1em;
    letter-spacing: .1em; }
  .dRow p {
    line-height: 2em; }

.btn {
  float: right;
  width: 50%;
  margin-top: 3em; }
  .btn .button {
    border: 1px solid #C2CFBD;
    font-size: 1.2em;
    border-radius: 6px;
    padding: .5em;
    color: #C2CFBD;
    margin: .5em; }
  .btn .del {
    color: darkred;
    border: 1px solid darkred; }
  .btn .button:hover {
    background-color: #C2CFBD;
    color: #E3D4B7; }
  .btn .del:hover {
    background-color: darkred;
    color: #E3D4B7; }

/* ADD AND EDIT PAGE */
form {
  width: 100%; }

fieldset {
  width: 80%;
  margin: auto; }
  fieldset legend {
    font-size: 1.4em;
    color: #C2CFBD;
    font-weight: 800;
    padding: 1em 0;
    letter-spacing: .1em; }
  fieldset label {
    font-size: 1.2em;
    color: #C2CFBD;
    padding: 1em 0; }
    fieldset label input, fieldset label select, fieldset label textarea {
      padding: .5em;
      margin: .3em 0 2.5em 0;
      width: 100%;
      font-size: 1.05em;
      color: #888; }
    fieldset label select {
      width: 50%; }
    fieldset label textarea {
      height: 200px;
      font-family: "Nunito Sans", sans-serif;
      font-size: .91em; }

.submitbtn {
  width: 20%;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #C2CFBD;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 800;
  color: #C2CFBD; }

.submitbtn:hover {
  background-color: #C2CFBD;
  color: #E3D4B7; }

/* footer */
footer {
  margin-top: 6em;
  background-color: #C2CFBD; }
  footer p {
    color: #E3D4B7;
    text-align: center;
    padding: 2em; }

.clearFix {
  clear: both; }
